openapi: "3.0.3"
info:
  description: |
    The Words serverless API can provide projected data that may be easier to use for non-blockchain-native clients.

    ## Function Versioning
    `v0-` prefixed functions are in development and may change before becoming finalized.
  version: "0.1.0"
  title: "Words Serverless API"
  license:
    name: "CC0"
tags:
- name: "Address Data"
  description: "Functions that check status of Ethereum addresses"
- name: "Governance"
  description: "Functions for fetching governance data"
- name: "Words"
  description: "Information about Word tokens"
- name: "Cryptography"
  description: "Functions for verifying identity"
servers:
  - url: "https://words.wtf/.netlify/functions/"
    description: Production Deployment
paths:
  /v0-is-word-owner:
    post:
      tags:
        - "Address Data"
      summary: "Check if an Ethereum address owns a Word"
      operationId: "isWordOwner"
      requestBody:
        description: The Ethereum address to check for Word ownership
        content:
          "text/plain":
            schema:
              type: string
            example: "0x2536c09e5f5691498805884fa37811be3b2bddb4"
      responses:
        "200":
          description: "Does address own a Word"
          content:
            application/json:
              schema:
                type: boolean
              example: true
  /v0-is-word-delegate:
    post:
      tags:
        - "Address Data"
      summary: "Check if an Ethereum is delegated the voting power of a Word"
      operationId: "isWordDelegate"
      requestBody:
        description: The Ethereum address to check for Word delegation
        content:
          "text/plain":
            schema:
              type: string
            example: "0x75ee6eb3d8dacf41ee2e5307090b197d3e1cca6e"
      responses:
        "200":
          description: "Is address delegated the voting power of a Word"
          content:
            application/json:
              schema:
                type: boolean
              example: true
  /v0-word-owners:
    get:
      summary: "Ethereum addresses that own Words or are delegated voting power"
      tags:
        - "Address Data"
      operationId: "getWordOwners"
      responses:
        "200":
          description: "Lite Word information including owners and delegates"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LiteWord"
  /v0-word-votes:
    get:
      summary: "All Words and their votes"
      tags:
        - "Governance"
      operationId: "getWordVotes"
      responses:
        "200":
          description: "All Words and how the votes they cast in Words governance proposals"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WordWithVotes"
  /v0-proposal-votes:
    get:
      summary: "All governance proposals and their votes"
      tags:
        - "Governance"
      operationId: "getProposalVotes"
      responses:
        "200":
          description: "All governance proposals and an array of votes cast"
          content:
            application/json:
              schema:
                type: object
  /v0-word-seeds:
    get:
      summary: "All Words and their seeds"
      tags:
        - "Words"
      operationId: "getWordSeeds"
      responses:
        "200":
          description: "All Words and their seeds"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WordWithSeeds"
  /v0-verify-signature:
    post:
      summary: "Verify an ethereum signed message"
      tags:
        - "Cryptography"
      operationId: "getProposalVotes"
      parameters:
        - name: fetchParticipation
          in: "query"
          description: If set to true and the signature is valid, fetch to see if the signer owns or is delegated a Word
          schema:
            type: boolean
          example: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifySignatureRequest"
            example:
              message: "I am 0x28f1F4ea77Af433c45366151F6f9906435d9DB19\n\nThis is me testing the Words serverless API"
              signer: "0x28f1F4ea77Af433c45366151F6f9906435d9DB19"
              signature": "0xc82fd716033ae41efd155258622a6c7d0d42ce56d03d6ba0bef1091d54675c4872e99f5718dfe0cb1a1a8dfd8d62fd35dfa10445d40e001174756a7059dd80d81b"
      responses:
        "200":
          description: "All governance proposals and an array of votes cast"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifySignatureResponse"
components:
  schemas:
    NormalizedVote:
      type: object
      description: A Words proposal vote
      properties:
        proposalId:
          type: integer
          format: uint256
          description: The ID of the Words Governance proposal
        supportDetailed:
          type: integer
          format: uint256
          description: "The integer support value: against (0), for (1), or abstain (2)"
    Seed:
      type: object
      description: The attributes that make up a Word's seed
      properties:
        head:
          type: integer
        body:
          type: integer
        background:
          type: integer
        accessory:
          type: integer
        glasses:
          type: integer
    NormalizedWord:
      type: object
      description: A Word record
      properties:
        id:
          type: integer
          format: uint256
        owner:
          type: string
        delegatedTo:
          type: string
          description: The address that the Word's voting power is delegated to
        votes:
          type: array
          items:
            $ref: "#/components/schemas/NormalizedVote"
        seed:
          $ref: "#/components/schemas/Seed"
    ProposalVote:
      type: object
      description: How a Word voted on a governance proposal
      properties:
        wordId:
          type: integer
        owner:
          type: string
          description: The owner of the Word
        delegatedTo:
          type: string
          description: The Ethereum address the Word's voting power is delegated
        supportDetailed:
          type: integer
          description: "The integer support value: against (0), for (1), or abstain (2)"
    ProposalVotes:
      type: object
      description: A map of Word governance proposal ID to an array of votes
    WordWithSeeds:
      type: object
      description: A Word and its seed attributes
      properties:
        id:
          type: integer
          format: uint256
        seed:
          type: object
          $ref: "#/components/schemas/Seed"
    WordWithVotes:
      type: object
      description: How a Word has voted on Words governance proposals
      properties:
        id:
          type: integer
          format: uint256
        owner:
          type: string
          description: The owner of the Word
        delegatedTo:
          type: string
          description: The Ethereum address a Word's voting power has been delegated to
        votes:
          type: array
          items:
            $ref: "#/components/schemas/NormalizedVote"
    LiteWord:
      type: object
      properties:
        id:
          type: integer
          format: uint256
        owner:
          type: string
          description: The owner of the Word
        delegatedTo:
          type: string
          description: The Ethereum address a Word's voting power has been delegated to
    VerifySignatureRequest:
      type: object
      required:
        - "message"
        - "signature"
        - "signer"
      properties:
        message:
          type: string
          description: The original signed message
        signature:
          type: string
          description: Signature submitted for verification
        signer:
          type: string
          description: The address attesting to have signed the message
    VerifySignatureResponse:
      type: object
      required:
        - "message"
        - "signature"
        - "providedSignature"
        - "recoveredAddress"
        - "validSignature"
      properties:
        message:
          type: string
          description: The original signed message
        signature:
          type: string
          description: Signature submitted for verification
        providedSigner:
          type: string
          description: The signer address provided in the request
        recoveredAddress:
          type: string
          description: The address recovered from the signature
        validSignature:
          type: boolean
          description: If the supplied signature is valid
        isWordOwner:
          type: boolean
          description: If the signature is valid and the address owns a Word
        isWordDelegate:
          type: boolean
          description: If the signature is valid and the address is delegated a Word